<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ title }}">
		<meta name="author" content="barnacl437">
		<style>
			@import url(/bundle.css);
		</style>
		<title>{{ title | default: "untitled" }} // pacific void centre</title>
	</head>
	<body>

		<header>
			<table>
				<tr> <th> <p>da webz o barnz</p></th> </tr>
				<tr><th></th></tr>
			</table>
			<p><!-- a href="https://barnacl437.is-a.dev">main website</a--> 
				 <a href="/index.html"> index</a> | <a href="/posts/">posts</a> | <code>{{ page.url }}</code></p>
			<h1>{{ title | default: "_construction_page" }}</h1>
			<p style="font-size:14px; color: chartreuse;"> {{ page.date | readableDate }} {{ time }} </p>
		</header>
		<main>
			{{ content }}
		</main>
		
		<hr style="border: dotted; border-color: aquamarine; margin-top: 48px;">
		<code>[-_-] EOF</code> | <code>tags: {{tag}}</code>
			<p>(copydown) MMXXVI barnacl437.</p>
	</body>
</html>