<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			@import url(https://barnacl437.is-a.dev/style.css);
		</style>
		<title>{{ title | default: "barn blog" }}</title>
	</head>
	<body>

		<header>
			<p><a href="https://barnacl437.is-a.dev">main website</a> .
				 <a href="/index.html">blog index</a> . post [{{ title }}]</p>
			<h1>{{ title | default: "barn blog" }}</h1>
			<p style="font-size:11; color: chartreuse;"> {{ page.date | readableDate }} {{ time }} </p>
		</header>
		<main>
			{{ content }}
		</main>
		
		<hr style="border: dotted; border-color: aquamarine;">
		<code>[-_-] EOF</code> | <code>tags: {{tag}}</code>
			<p>(copydown) MMXXV barnacl437.</p>
	</body>
</html>