<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="a blog by barn(acl437).">
		<meta name="author" content="barnacl437">
		<style>
			@import url(https://barnacl437.is-a.dev/style.css);
			hr:hover {
				border-color: aquamarine;
				border: 5px;
			}
		</style>
		<title>{{ title | default: "barn blog" }}</title>
	</head>
	<body>

	<header>
		<table>
			<tr> <th><h1>{{ title | default: "blog corner" }}</h1></th>
				<th><p> <a href="https://barnacl437.is-a.dev">main website</a> .
				<a href="/index.html">blog index</a> .
				 <a href="https://github.com/barnacl437/blog">source code</a> </th></tr> 
				 <tr><th>
					<div style="text-align: right; color:rgb(0, 255, 255)"><p>a barnacl437 blog</p></div>
				</th></tr>
				 </table>
			
				 
	</header>
		<main>
			{{ content }}
		</main>
		<br>
		<hr style="border: dotted;">
		<p>(copydown) MMXXV barnacl437.<br><br> 
			<a href="https://github.com/barnacl437/blog"><code>v1.02</code></a>, 
			<a href="https://www.11ty.dev/docs/versions/"><code>"dependencies": {"@11ty/eleventy": "^2.0.1"}</code></a>
		<br>
		</p style="margin-top: 48px;">
	</body>
</html>