<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="a blog by barn(acl437).">
		<meta name="author" content="barnacl437">
		<style>
			@import url(https://barnacl437.vercel.app/style.css);
		</style>
		<title>{{ title | default: "barn blog" }}</title>
	</head>
	<body>

		<header>
			<p> <a href="https://barnacl437.is-a.dev">home</a> .
			 <a href="/index.html">blog</a> .
			  <a href="https://github.com/barnacl437/blog">source code</a> 
			  </p>
			<h1>{{ title | default: "barn blog" }}</h1>
			<div style="text-align: right; color:rgb(0, 255, 255)"><p>a barnacl437 blog</p></div>
		</header>
		<main>
			{{ content }}
		</main>
		<br>
		<hr style="border: dotted;">
		<p>(copydown) XXIIV barnacl437.</p>
	</body>
</html>